
.brand {
    background-color: aquamarine;
}

.globalnav {
    background-color: beige;
}

.tools {
    background-color: bisque;
}

.herofeature {
    background-color: rgb(165, 129, 76);
}

.herocall {
    background-color: blue;
}

.ad {
    background-color: blueviolet;    
}

.articlefeature {
    background-color: brown;
}

.articlelisting {
    background-color: burlywood;
}

.sidebar {
    background-color: cadetblue;
}

.mainfooter {
    background-color: rebeccapurple;
}